.patient-appointments-grid {
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
    padding: 30px;
}

.patient-appointment-rect {
    padding: 10px;
    font-size: 16px;
    width: 160px;
    min-height: 120px;
    max-height: 140px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid #5848e2;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.patient-appointment-past {
    background-color: #e2918f;
    pointer-events: none;
}

.patient-appointment-current {
    background-color: #bce2bb;
}
