.doctor-appointments-grid {
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
    padding: 30px;
}

.doctor-appointment-rect {
    padding: 10px;
    font-size: 16px;
    width: 180px;
    min-height: 120px;
    max-height: 140px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid #5848e2;
    display: flex;
    flex-direction: column;
}

.doctor-appointment-past {
    background-color: #dbdfe2;
}

.doctor-appointment-current {
    background-color: #b7e2bf;
}

.doctor-appointment-future {
    background-color: #c0eaff;
}

#print {
    width: 800px;
}

#print h3 {
    text-align: center;
}


