.schedule {
    padding: 25px 35px;
}

.schedule-row {
    margin-bottom: 15px;
}

.schedule-row-label {
    display: inline-block;
    width: 120px;
}

.schedule-table {
    padding: 20px 0;
}

.schedule-table-row {
    line-height: 40px;
    margin-bottom: 8px;
}

.schedule-table-row:nth-child(2n-1) {
    background-color: aliceblue;
}

.schedule-table-label {
    display: inline-block;
    width: 150px;
}

.schedule-footer {
    margin-top: 10px;
}
