.timetable-wrapper {
    display: flex;
}

.timetable {
    margin-right: 20px;
    padding: 20px 10px;
    background-color: #ececec;
    box-shadow: 1px -1px 1px 0 rgba(0, 0, 0, 0.32);
}

.timetable-row {
    display: flex;
    margin-bottom: 10px;
}

.timetable-row-first {
    justify-content: flex-end;
}

.timetable-cell {
    margin-right: 10px;
    padding: 10px;
    width: 90px;
    height: 70px;
    text-align: center;
    background-color: #ececec;
    box-shadow: 0px 0px 1px 1px rgba(2, 2, 2, 0.32);
    cursor: pointer;
    text-decoration: none;
    color: #333333;
}

.timetable-cell:hover {
    text-decoration: none;
    color: #333333;
}

.timetable-cell:hover {
    background-color: #e4e4e4;
}

.timetable-cell-empty {
    background-color: #ffc8c8;
    pointer-events: none;
}

.timetable-header {
    display: flex;
    border-bottom: 1px solid #bbb9b9;
    margin-bottom: 20px;
}

.timetable-header-item {
    margin-bottom: 10px;
    width: 120px;
    text-align: center;
}
